@use './variables' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: $bg-color-orange;
}
footer{
  background-color: $bg-color-black;
}
.container{
  width: 1200px;
  border: 1px solid black;
}
